<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>
                Username:
            </td>
            <td>
                {{username}}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {{email}}
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                {{password}}
            </td>
        </tr>
        <tr>
            <td>
                dob:
            </td>
            <td>
                {{dob}}
            </td>
        </tr>
        <tr>
            <td>
                gender:
            </td>
            <td>
                {{gender}}
            </td>
        </tr>
        <tr>
            <td>
                mobile:
            </td>
            <td>
                {{mobile}}
            </td>
        </tr>
        <tr>
            <td>
                Email Code:
            </td>
            <td>
                {{emailCode}}
            </td>
        </tr>
    </table>
</body>
</html>
